<section class="phx-hero">
  Channel #<%= @channel.id %> '<%= @channel.name %>' 
</section>

<%= react_component("Components.Welcome", %{users: @users, messages: @messages}) %>

<a href="/">all channels</a>
