<section class="phx-hero">
  <p>All Chat Channels</p>
</section>

<section class="row">
  <article class="column">
    <%= Enum.map @channels, fn(item) -> %>
      <a href="/chat_channels/<%= item.id %>"><%= item.name %></a></br>
    <% end %>
  </article>
</section>
